.color-picker {
	.purple {
		background-color: #7c81ea;
	}

	.green {
		background-color: #5eb09b;
	}

	.dark-gray {
		background-color: $main-color;
	}

	.red {
		background-color: #cc0000;
	}

	.yellow {
		background-color: #ffce67;
	}

	.orange {
		background-color: #f90;
	}

	.light-blue {
		background-color: #85c3dc;
	}

	.black {
		background-color: #000;
	}

	.beige {
		background-color: beige;
	}

	.aqua {
		background-color: $nav-active;
	}
}